body{
    background: #808080;
}

.container{
    background-color: white; 
    width: 60%;
    font-size: 20px;
}

.title{
    color: brown; 
    text-align: center;
    font-size: 40px;
}

.container img{
    width: 100%;
}